@define-color background #000000;
@define-color foreground #ffffff;

/* Global defaults */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  box-shadow: none;
  text-shadow: none;
  font-family: "FiraCode Nerd Font Mono", "FiraCode Mono", "Symbols Nerd Font", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

